/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
    text-align: center;
    position: fixed;
    bottom: 2%;
    left: 45%;
}

body {
    height: 100%;
}